<div layout="row" layout-align="center center">
<h1 class="start-head">Welcome to Residence</h1>
</div>
<div layout="row" layout-align="center center">
<md-button ui-sref="register" class="start-cta md-primary md-raised">Start Here</md-button>
</div>

<!-- <md-button ui-sref="home" class="md-primary md-raised">Home</md-button>
<md-button ui-sref="register" class="md-primary md-raised">Register</md-button>
<md-button ui-sref="login" class="md-primary md-raised">Login</md-button>
<md-button ui-sref="overview" class="md-primary md-raised">Overview</md-button>
<md-button ui-sref="analytics" class="md-primary md-raised">Analytics</md-button> -->